Source: linux-overo
Section: kernel
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 7.0.50~), module-init-tools
Standards-Version: 3.9.4

Package: linux-overo
Architecture: armhf
Depends: ${misc:Depends}
Description: Linux kernel and modules for the Gumstix Overo
 The Linux kernel and modules for the Gumstix Overo family of
 single-board computers.
 .
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-overo
Architecture: armhf
Depends: ${misc:Depends}
Description: Firmware blobs for the Gumstix Overo
 The Linux kernel's firmware blobs for the Gumstix Overo single-board
 computer.  Contains both the firmware the board itself needs to
 provide base functionality (if any), plus blobs for devices that can
 be added to the board by the end user.
 .
 This package is a part of Pragmatux (http://pragmatux.org).
